<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Resume | {{basics.name}}</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css" integrity="sha512-G/T7HQJXSeNV7mKMXeJKlYNJ0jrs8RsWzYG7rVACye+qrcUhEAYKYzaa+VFy6eFzM2+/JT1Q+eqBbZFSHmJQew==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css" integrity="sha512-giQeaPns4lQTBMRpOOHsYnGw1tGVzbAIHUyHRgn7+6FmiEgGGjaG0T2LZJmAPMzRCl+Cug0ItQ2xDZpTmEc+CQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/regular.min.css" integrity="sha512-k2UAKyvfA7Xd/6FrOv5SG4Qr9h4p2oaeshXF99WO3zIpCsgTJ3YZELDK0gHdlJE5ls+Mbd5HL50b458z3meB/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/solid.min.css" integrity="sha512-6mc0R607di/biCutMUtU9K7NtNewiGQzrvWX4bWTeqmljZdJrwYvKJtnhgR+Ryvj+NRJ8+NnnCM/biGqMe/iRA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/svg-with-js.min.css" integrity="sha512-iyaXtrpKz7FIRsICgrvVtq1vkSJT/cfLeXA0sHSQaAs0y3LdqXWlQCXTxM246mTQ/M2qpyVX3A0aRfmTt0LOCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
		<style type="text/css">
			{{{css}}}
		</style>
	</head>
	<body id="top" class="user-select-none">
		<div id="cv" class="instaFade">
			<div class="mainDetails">
				<div id="headshot" class="quickFade">
					<img src="{{ basics.gravatar }}" alt="avatar" />
				</div>
				<div id="name">
					<h1 class="quickFade delayTwo">{{ basics.name }}</h1>
					<h2 class="quickFade delayThree">{{ basics.label }}</h2>
				</div>
				<div id="contactDetails" class="quickFade delayFour">
					{{#basics.location}}
                        <div class="contact-item">
                          <div class="icon pull-left text-center"><span class="fa-solid fa-location-pin fa-fw"></span></div>
                          {{#basics.location.address}}<div class="title pull-right">{{ basics.location.address }}</div>{{/basics.location.address}}
                          <div class="title {{^basics.location.address}}only {{/basics.location.address}} pull-right">
						  {{basics.location.city}}{{#basics.location.region}},
						  {{basics.location.region}}{{/basics.location.region}}{{#basics.location.postalCode}} {{basics.location.postalCode}}{{/basics.location.postalCode}}{{#basics.location.countryCode}} {{basics.location.countryCode}}{{/basics.location.countryCode}}
						  </div>
                        </div>
                    {{/basics.location}}
                    {{#basics.phone}}
                        <div class="contact-item">
                          <div class="icon pull-left text-center"><span class="fa-solid fa-phone fa-fw"></span></div>
                          <div class="title only pull-right">
							<a class="text-decoration-none" href="tel:{{basics.phone}}" target="_blank">{{basics.phone}}</a>
						  </div>
                        </div>
                    {{/basics.phone}}
                    {{#basics.email}}
                        <div class="contact-item">
                          <div class="icon pull-left text-center"><span class="fa-solid fa-envelope fa-fw"></span></div>
                          <div class="title only pull-right">
							<a class="text-decoration-none" href="mailto:{{basics.email}}" target="_blank">{{basics.email}}</a>
						  </div>
                        </div>
                    {{/basics.email}}
                    {{#basics.website}}
                        <div class="contact-item">
                          <div class="icon pull-left text-center"><span class="fa fa-globe fa-fw"></span></div>
                          <div class="title only pull-right">
							<a class="text-decoration-none" href="{{basics.website}}" target="_blank">{{basics.website}}</a>
						  </div>
                        </div>
                    {{/basics.website}}
                    {{#basics.profiles}}
                        <div class="contact-item">
                          <div class="icon pull-left text-center"><span class="{{iconClass}} fa-fw"></span></div>
                          <div class="description pull-right margin-top-8">
							<a class="text-decoration-none" href="{{url}}" target="_blank">
							{{#username}}{{username}}{{/username}}{{^username}}{{url}}{{/username}}
							</a>
						  </div>
                        </div>
                    {{/basics.profiles}}
				</div>
				<div class="clear"></div>
			</div>
			<div id="mainArea" class="quickFade delayFive">
				<section>
					<article>
						<div class="sectionTitle text-uppercase">
							<h1>About</h1>
						</div>
						<div class="sectionContent">
							<p>{{{basics.summary}}}</p>
						</div>
					</article>
					<div class="clear"></div>
				</section>
				<section>
					<div class="sectionTitle text-uppercase">
						<h1><B>Work Experience</B></h1>
					</div>
					<div class="sectionContent">
						<article>
							{{#work}}
                            <h2>{{position}} at {{company}}, {{location}}</h2>
                            <p class="subDetails">{{startDateMonth}}{{startDateYear}} – {{endDateMonth}}{{endDateYear}}</p>
                            {{#boolHighlights}}
                                <ul class="info">
                                    {{#highlights}}
                                    <li>{{{.}}}</li>
                                    {{/highlights}}
                                </ul>
                            {{/boolHighlights}}
                            <br/>
							{{/work}}
						</article>
						<br>
					</div>
					<div class="clear"></div>
				</section>
				{{#volunteerBool}}
				<section>
					<div class="sectionTitle text-uppercase">
						<h1><B>Volunteer</B></h1>
					</div>
					<div class="sectionContent">
						<article>
							{{#volunteer}}
                            <h2>{{position}} at {{organization}}</h2>
                            <p class="subDetails">{{startDateMonth}}{{startDateYear}} – {{endDateMonth}}{{endDateYear}}</p>
                            {{#summary}}<p>{{{summary}}}</p>{{/summary}}
                            {{#boolHighlights}}
                                <ul class="info">
                                    {{#highlights}}
                                    <li>{{{.}}}</li>
                                    {{/highlights}}
                                </ul>
                            {{/boolHighlights}}
                            <br/>
							{{/volunteer}}
						</article>
						<br>
					</div>
					<div class="clear"></div>
				</section>
				{{/volunteerBool}}
				<section>
					<div class="sectionTitle text-uppercase">
						<h1><B>Certifications</B></h1>
					</div>
					<div class="sectionContent">
						<article>
							{{#certificates}}
                            <h2>{{name}}</h2>
                            <p class="subDetails">{{certDateMonth}}{{certDateYear}}</p>
                            <br/>
							{{/certificates}}
						</article>
						<br>
					</div>
					<div class="clear"></div>
				</section>
				<section>
					<div class="sectionTitle text-uppercase">
						<h1><B>Projects</B></h1>
					</div>
					<div class="sectionContent">
						<article>
							{{#projects}}
                            <h2>{{name}}</h2>
                            <p class="subDetails">{{startDateMonth}}{{startDateYear}} – {{endDateMonth}}{{endDateYear}}</p>
                            {{#boolHighlights}}
                                <ul class="info">
                                    {{#highlights}}
                                    <li>{{{.}}}</li>
                                    {{/highlights}}
                                </ul>
                            {{/boolHighlights}}
                            <br/>
							{{/projects}}
						</article>
						<br>
					</div>
					<div class="clear"></div>
				</section>
				<section>
					<div class="sectionTitle text-uppercase">
                        <h1><B>Skills</B></h1>
                    </div>
                    <div class="sectionContent">
                    {{#skills}}
                        <article>
						<div class="info">
                            <br/><h2>{{name}}</h2>
							<div class="info">
								{{#level}}<span class="skill-level">{{level}}</span>{{/level}}
							</div>
							<div class="col-sm-offset-1 col-sm-12 subDetails">
								{{#keywords}}
								<span class= "skill badge">{{{.}}}  </span>
								{{/keywords}}
							</div>

						</div>
                        </article>
                        {{/skills}}
					</div>
					<div class="clear"></div>
				</section>
				<section>
					{{#educationBool}}
					<!-- EDUCATION -->
                    <div class="sectionTitle text-uppercase">
                        <h1><B>Education</B></h1>
                    </div>
                    <div class="sectionContent">
                    {{#education}}
                        <article>
                            <h2>{{institution}}</h2>
                            {{#studyType}}
                                <p class="subDetails">{{studyType}} in {{area}}</p>
                            {{/studyType}}
                            <p class="subDetails">{{startDateYear}} - {{endDateYear}}</p>
                            {{#gpa}}
                            <p class="subDetails">
                                GPA: {{gpa}}
                            </p>
                            {{/gpa}}
                            {{#educationCourses}}
                                <div class="subDetails">Courses</div>
                                <ul class="info">
                                    {{#courses}}
                                        <li>{{{.}}}</li>
                                    {{/courses}}
                                </ul>
                            {{/educationCourses}}
                        </article>
                        <br>
                        {{/education}}
                    </div>
					<div class="clear" />
					{{/educationBool}}
				</section>
				{{#awardsBool}}
				<section>
					<div class="sectionTitle text-uppercase">
						<h1><B>Awards</B></h1>
					</div>
					<div class="sectionContent">
						<article>
							{{#awards}}
                            <h2>{{title}}</h2>
                            <p class="subDetails">{{awarder}}{{#awarder}} – {{/awarder}}{{month}}{{year}}</p>
                            {{#summary}}<p>{{{summary}}}</p>{{/summary}}
                            <br/>
							{{/awards}}
						</article>
						<br>
					</div>
					<div class="clear"></div>
				</section>
				{{/awardsBool}}
				{{#publicationsBool}}
				<section>
					<div class="sectionTitle text-uppercase">
						<h1><B>Publications</B></h1>
					</div>
					<div class="sectionContent">
						<article>
							{{#publications}}
                            <h2>{{name}}</h2>
                            <p class="subDetails">{{publisher}}{{#publisher}} – {{/publisher}}{{month}}{{year}}</p>
                            {{#summary}}<p>{{{summary}}}</p>{{/summary}}
                            {{#url}}<p class="subDetails"><a class="text-decoration-none" href="{{url}}" target="_blank">{{url}}</a></p>{{/url}}
                            <br/>
							{{/publications}}
						</article>
						<br>
					</div>
					<div class="clear"></div>
				</section>
				{{/publicationsBool}}
				{{#languagesBool}}
				<section>
					<div class="sectionTitle text-uppercase">
						<h1><B>Languages</B></h1>
					</div>
					<div class="sectionContent">
						<article>
							<ul class="info">
								{{#languages}}
								<li>{{language}}{{#fluency}} <span class="subDetails">({{fluency}})</span>{{/fluency}}</li>
								{{/languages}}
							</ul>
						</article>
						<br>
					</div>
					<div class="clear"></div>
				</section>
				{{/languagesBool}}
				{{#referencesBool}}
				<section>
					<div class="sectionTitle text-uppercase">
						<h1><B>References</B></h1>
					</div>
					<div class="sectionContent">
						<article>
							{{#references}}
                            <p>{{{reference}}}</p>
                            <p class="subDetails">— {{name}}</p>
                            <br/>
							{{/references}}
						</article>
						<br>
					</div>
					<div class="clear"></div>
				</section>
				{{/referencesBool}}
			</div>
		</div>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-3753241-1");
			pageTracker._initData();
			pageTracker._trackPageview();
		</script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/brands.min.js" integrity="sha512-rbApvPERCHI8cOpTOKfMLVJNlXSCs4QRu8UsJ0HieeHyNKkHtUIQTZq3hv0pT7X0SUsLrRGEUsMTTpzwpdeIuw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/fontawesome.min.js" integrity="sha512-nKvEIGRKw2OQCR34yLfnWnvrOBxidLG9aK+vzsBxCZ/9ZxgcS4FrYcN+auWUTkCitTVZAt82InDKJ7x+QtKu6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/regular.min.js" integrity="sha512-H1PxHAj13z6ipNSlyM5ftUSOSvQXeH0eOsPjEpSOcjSROPLIxhKB0PLGSAbFDqEqe2vd2xPkUnEfVtBS/RNlmw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/solid.min.js" integrity="sha512-F0Gp9qi8/3qyo+62Pi1ZgGe6hAUxPbzOnqhhpJYAMUGDmOys95dCRCVYfQawlUeoGp1Rj/K9V7NboA9sQ9BtKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</body>
</html>
